body {
    margin: 5% auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color:white;
    background-color: black;
    height: 75vh;
    width: 80%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
    max-height: 100%;
    max-width: 50%;
    text-align: center;
}

header h1 {
    font-size: 55px;
}

#divCommentary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 550px;
    height: 75px;
    background-color:none;
    color: white;
    text-align: justify;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    max-height: 100%;
    max-width: 50%;
}

img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 250px;
}

button {
    background-color: rgb(23, 209, 209);
    color: white;
    height: 50px;
    width: 50px;
    font-weight: bolder;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
}

button:hover {
    cursor: pointer;
    background-color: crimson;
    width: 60px;
    height: 60px;
    transition: 0.7s ease-in-out;
}

#display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-weight: bolder;
}