/* estiliza e organiza os elementos na pag, inclusive adiciona um background e uma borda ao canvas.*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-image: url("/estudos_js/html_web_developer/Projetos/recriando-jogo-cobrinha-js/assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 115%;
}

canvas {
    border: 15px;
    border-style: groove;
    border-color: grey;
}

@media (max-width:800px) {
    canvas {
        width: 80%;
        background-color: rgba(0, 0, 0, 0.212);
    } body {
        background-image: url("/estudos_js/html_web_developer/Projetos/recriando-jogo-cobrinha-js/assets/img/bg-2.jpg");
        background-size: 160%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: top 50%;
    }
};