/* esse style serve para evitar repetição de linhas de código
referentes a estilização do navegador, o qual é padrão para 
todas as página, exceto a inicial e a do login. */

/* definição geral */
header {
    width: 90%;
    margin: auto;
}

header .divNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
}

header .logo{
    color: var(--red);
    font-family: 'Arial Black', Times;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    font-size: 30px;
    margin-left: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
    width: 80%;
}

header nav a {
    text-decoration-line: none;
    color: #aaa ;
    margin-right: 10px;
    font-size: 15px;

}

/* definição do efeito ao passar o mouse sobre os 
links do menu de navegação */
header nav a:hover{
    color:rgb(206, 250, 186);
}

