/*criar variaveis*/
:root {
    --red: #98e509;
    --black: #141414;
}

/* definições globais */
* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    width: 90%;
    background-color: var(--black);
}

/* titulo principal */
.main {
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.267),rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.966)),url('/html_web_developer/Projetos/recriando-interface-netflix/assets/img/main.jpg');
    background-repeat: none;
    background-size: 100%;
    height: 250px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(255, 204, 127);
    margin: auto;
    padding: 25px;
}

/* */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70vh;
    margin: auto;
    background-color: black;
    padding: 25px;
}

/* definições da área de conteúdo principal selecionado*/
.main-ep {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
    border-color: rgb(255, 204, 127);
    border-width: thin;
    border-style: solid;
}

.up-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    width: 76%;
    text-align: justify;
}

/*add imagem referente ao podcast selecionado*/
.bg-main-ep {
    background-image: url('/html_web_developer/Projetos/recriando-interface-netflix/assets/img/5.jpg');
    background-size: 100%;
    width: 700px;
    height: 300px;
}

.info-main-ep {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
}

.main-ep-title{
    font-size: 45px;
    color:rgb(255, 204, 127);
    width: 300px;
}

.main-description {
    width: 300px;
}

.div-play{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 80%;
    height: 30px;
}

.options-play {
    display:flex;
    justify-content: space-between;
    width: 50px;
}

.range-input {
    width: 500px;
}

button {
    background-color: transparent;
    border: transparent;
    width: 25px;
    height: 20px;
    color: rgb(250, 234, 234);
}

/*efeitos para os botões de play e pause*/
button:hover {
    transform: scale(1.1);
    color: rgb(52, 216, 79);
    transition: transform 0.6s ease-in-out;  
}

.div-play h6 {
    font-size: 15px;
    margin-left: 5px;
}

/* definições da lista lateral de 4 podcasts */
.all-eps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    height: 70vh;
    width: 300px;
}

.div-ep {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 80px;
}

.bg-ep {
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.966)),url('/html_web_developer/Projetos/recriando-interface-netflix/assets/img/main.jpg');
    background-size: 250%;
    width: 170px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-color: rgb(255, 204, 127);
    border-style: solid;
    border-width: thin;
}

/*efeito da imagem dos eps da lista lateral*/
.bg-ep:hover {
    border-color: rgb(52, 216, 79);
    color:  rgb(52, 216, 79);
    transform: scale(1.1);
    transition: all 0.2;
}

/*efeito para mudança do cursor do mouse*/
.bg-ep, button, input, .title:hover {
    cursor: pointer;
}

.info-ep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}

.title {
    font-size: 20px;
    color: rgb(255, 204, 127);
}

/*efeito para o titulo dos eps da lista lateral*/
.title:hover{
    color:  rgb(52, 216, 79);
    transition: all 0.2;
}

.description {
    font-size: 14px;
    text-align: justify;
    width: 100%;
}

.right i {
    color: var(--black);
}

